.App {
  position: relative;
  width: 700px;
  background-color: #ccc;
}

.food__title {
  position: relative;
  width: 100%;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  transition: 2.5s ease-in-out;
}
